.nav {
  grid-area: nav;
  background-color: #6b61fb;
  padding: 20px; /* отступы*/
}
.item a {
  color: rgb(13, 221, 65);
  text-decoration: none; /* подчеркивание ссылок */
}
.item a.activeLink {
  color: gold;
}
a.active {
  color: white;
}
/* .item .aert{
  color: blueviolet;
} */
.navitem img{
  width: 20px;
  height: 20px;
  border-radius: 30px;
}
.friends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nu{
  padding: 10px;
}
.mnu{
  padding: 10px;
}
.pnu{
  padding: 10px;
}